<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am a highly self-motivated software engineer having excellent organisational skills.I have more than 4 years of work experience in "Software Development" with expert level knowledge in Java, Android(Java), MySQL, C#(Intermediate) and C(Intermediate). I hold a masters degree in Computer Science from School of Computing - NUS. I am a strong supporter of "Open Source Software" and a proud contributor to various "Open Source Projects" like "Mozilla Firefox" and explored sevaral large codebases. I have working knowledge in several NoSQL databases. My interests include Data structures, Algorithms, High performance computing, Distributed systems.
</div>