{% if paginator.total_pages > 1 %}
<nav class="pagination row">
  <ul class="pagination-list">
    <li class="pagination-icon"><i class="fa fa-th-list"></i></li>
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.url }}/{%if page > 1 %}page/{{ page }}/{% endif %}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}